/* Import Tailwind CSS framework */
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
/* Custom theme configuration with system font stack */

@theme {
    --font-sans: 'Inter var';
}

/* Include Tailwind CSS plugins for enhanced form styling and typography */
/*@plugin '@tailwindcss/forms';*/
/*@plugin '@tailwindcss/typography';*/

/* Remove default red box-shadow on invalid form elements */
input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/* Hide elements with x-cloak attribute (used with Alpine.js) until JavaScript loads */
[x-cloak] {
    display: none;
}



/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
@plugin "daisyui" {
    themes: light --default
    , dark --prefersdark
;
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
/*@custom-variant dark (&:where(.dark, .dark *));*/
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

.mary-table-pagination button {
    @apply cursor-pointer
}


@layer components {
  [class*="input"] {
    @apply !outline-none;
  }
    [class*="choices-offline"] {
    @apply !outline-none;
  }

  [class*="checkbox"] {
    @apply !checkbox-sm !bg-base-100 !text-base-content;
  }
}

.cropper-view-box,
.cropper-face {
  border: 2px solid #3b82f6 !important;
  outline: none;
}
[x-cloak] { display: none !important; }
